<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1 style="text-align:center">Welcome to {{title}}</h1>
  <ul style="list-style-type: none; margin: 20px; text-align:center">
    <li style="display: inline; margin: 20px;"><a [routerLink]="['/']">Home</a></li>
    <li style="display: inline; margin: 20px;"><a [routerLink]="['/products']">Product List</a></li>
    <li style="display: inline; margin: 20px;"><a [routerLink]="['/products/new']">Add Products</a></li>
  </ul>
</div>
<router-outlet></router-outlet>
