<h2>Welcome {{ currentUser.username }}</h2>
<form #bucketForm="ngForm" (submit)=create(newBitem)>
  <p *ngIf="bTitle.invalid">Please Enter Bucket List Title</p>
  <p><input type="text" name="bTitle"
    placeholder="Title"
    [(ngModel)]="newBitem.bTitle"
    #bTitle="ngModel"
    minlength=4
    required=true
  ></p>
  <p *ngIf="bDescription.invalid">Please Enter Bucket List Description</p>
  <p><input type="text" name="bDescription"
    placeholder="Description"
    [(ngModel)]="newBitem.bDescription"
    #bDescription="ngModel"
    minlength=4
    required=true
  ></p>
  <p><select name="bTagged"
    [(ngModel)]="newBitem.bTagged"
    #bTagged="ngModel"
    >
      <option *ngFor="let user of users" [ngValue]="user.username">
        {{ user.usernamme }}
      </option>
    </select>
  </p>
  <input type="hidden" name="bStatus" value="false"
  [(ngModel)]="newBitem.bStatus"
  #bStatus="ngModel"
  >
  <input [disabled]='!bucketForm.form.valid' type="submit" name='' value="Add to List">
</form>
<h4>Before I die I want to...</h4>
<p *ngFor="let bItem of bItems"><a [routerLink]="['/bOwners']">{{ bItem.bOwner }}</a>: {{ bItem.bTitle }} - {{ bItem.bDescription }} - {{ bItem.createdAt | date:'medium' }}<p>
<h4>List of users<h4>
<p *ngFor="let user of users"><a [routerLink]="['/user', user._id]">Name: {{ user.username }}</a></p>
