<div>
  <h2>Welcome {{ currentUser.username }}</h2>
  <h4 style="text-align: left"><a [routerLink]="['/dashboard']">Home</a></h4>
</div>
<div>
  <h4 style="text-align: left"><a [routerLink]="['/add']">Add Question</a></h4>
</div>
<div>
  <h4 style="text-align: right"><a [routerLink]="['/logout']">Logout</a></h4>
</div>
<div style="text-align: center; background: rgba(0,0,0,.4); margin: 20px auto 20px auto; padding: 20px 20px 20px 20px;">
  <button style="background: rgba(0,0,255,.7); color: #fff; margin: 20px 20px 20px 20px; padding: 20px 20px 20px 20px;" [routerLink]="['/play']">Play</button>
  <h3>Click the button above to start the trivia game.</h3>
</div>
<table>
  <thead>
    <tr>
      <td style="margin: 10px auto 10px auto; padding: 10px auto 10px auto;">Name</td>
      <td style="margin: 10px auto 10px auto; padding: 10px auto 10px auto;">Score</td>
      <td style="margin: 10px auto 10px auto; padding: 10px auto 10px auto;">Percentage</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let score of scores">
      <td>{{ score.name }}</td>
      <td>{{ score.scope }}</td>
      <td>{{ score.percent }}</td>
    </tr>
  </tbody>
</table>
