<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/style.css"> 
</head>
<body>
	<div class="header">
		<h1 class="welcome">Welcome <span class="userinfo">{{user['first_name']}}</span> to <em>THE WALL</em></h1>
		<a class="logout" href="/logout">Logout</a>
	</div>
	<div class="messagePost">
		<form action="/makeMessage" method="POST" id="wallMessage">
			<fieldset>
				<label>Post New Message
					<input type="textarea" name="message">
				</label>
				<input type="submit" value="Post Message">
			</fieldset>
		</form>
	</div>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<ul class="flashes">
			{% for category, message in messages %}
				<li class="{{ category }}">{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	<div class="messageBoard">
		<div class="messages">		
			{% for message in messages %}
				<h3 class="userMessage">Posted by: {{ message['first_name'] }} {{ message['last_name'] }} at {{ message['created_at'] }}</h3>
				<p class="userMessage">{{ message['message'] }}</p>
				{% if message['user_id'] == user['id'] %}
					<form class="delmessages" action="/deleteMessage" method="POST">
                		<input type="hidden" name="delete" value="{{ message['id'] }}">
               			<input type="hidden" name="message_time" value="{{ message['created_at'] }}">
                		<input type="submit" value="Delete Message">
            		</form>
				{% endif %}
					{% for comment in comments %}
						{% if comment['user_id'] == user['id'] %}
							<div class="userComment">
								<h4 class="userComment">Comment by: {{ comment['first_name'] }} {{ comment['last_name'] }} at {{ comment['created_at'] }}</h4>
								<p class="userComment">{{ comment['comment'] }}</p>
							</div>
						{% endif %}
					{% endfor %}
				<form class="newComment" action="/makeComment" method="POST">
        			<label><span class="newComment">Leave Comments</span>
        			</label>
					<textarea name="comment" cols="100" rows="5"></textarea>
					<input type="hidden" name="message_id" value="{{ message['id'] }}">
					<input type="submit" class="submit_post" value="Post Comments">
				</form>
			{% endfor %}
		</div>	
	</div>
</body>
</html>


