<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/static/style.css"> 
</head>
<body>
	<div class="header">
		<h1 class="welcome">Welcome <span class="userinfo">{{user['first_name']}}</span> to <em>THE WALL</em></h1>
		<a class="logout" href="/logout">Logout</a>
	</div>
	<div class="messages">
		<form action="/makeMessage" method="POST" id="wallMessage">
			<fieldset>
				<label>Post a Message
					<input type="textarea" name="message">
				</label>
				<input type="submit" value="Post a message">
			</fieldset>
		</form>
	</div>
	<div class="messageBoard">
		<p class="userMessage"></p>
	</div>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<ul class="flashes">
			{% for category, message in messages %}
				<li class="{{ category }}">{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
</body>
</html>


