<!DOCTYPE html>
<html>
<head>
  <title>Landing Page</title>
  <link rel='stylesheet' type='text/css' href='./stylesheets/style.css'>
</head>
<body>
  <ul>
    <li><a href='/'>Home</a></li>
    <li><a href='cats'>Cats</a></li>
    <li><a href='cars'>Cars</a></li>
    <li><a href='newcar'>New Car</a></li>
  </ul>
  <h1>Welcome to the cats landing page</h1>
  <img src='http://localhost:7077/images/niko.jpg' style="max-width:200px;">
  <img src='http://localhost:7077/images/niko2.jpg' style="max-width:200px;">
</body>
</html>
