<!DOCTYPE html>
<html>
<head>
  <title>Landing Page</title>
  <link rel='stylesheet' type='text/css' href='./stylesheets/style.css'>
</head>
<body>
  <ul>
    <li><a href='/'>Home</a></li>
    <li><a href='cats'>Cats</a></li>
    <li><a href='cars'>Cars</a></li>
    <li><a href='newcar'>New Car</a></li>
  </ul>
  <h1>Welcome to the new car landing page</h1>
  <p>Add a new car</p>
    <form>
      Make <input type="text">
      Model <input type="text">
      <input type="submit" value="Add new car">
    </form>
</body>
</html>
