<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{title}}!</h1>
  <p>Today's date is {{todayDate | date:'longDate'}} and the time is {{todayTime | date:'shortTime'}}</p>
  <img width='300vm' src="https://github.com/loyti/images/blob/master/niko.jpg?raw=true">
  <img width='300vm' src="https://github.com/loyti/images/blob/master/niko2.jpg?raw=true">
</div>

<div>
  <button (click)="randomizeColors()">Randomize</button>
  <div *ngFor="let color of colors">
    <p [ngStyle]="{'background-color':color, 'margin': '20px', 'padding': '20px'}"></p>
  </div>
</div>
