<!DOCTYPE html>
<html>
<head>
	<title>Course Catalogue Comments</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'main/style.css'%}">
</head>
<body>

	<h1>Post a comment</h1>
	<form action="/{{course_id}}/post" method="post">
        	{% csrf_token %}
        	<label>Comment: 
        	<textarea class="block_up" name="comment" id="" cols="30" rows="10"></textarea>
        	</label>
        	<input type="submit" value="Post">
	</form>
	{% for comment in comment_list %}
	<p>{{comment.content}}</p>
	<p>{{comment.created_at}}</p>
	{% endfor %}
	<a href="/">Go Back</a>

</body>
</html>
