<!DOCTYPE html>
<html>
<head>
    <title>Practice with vue.js</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="vueJS.css">
    <script src="https://unpkg.com/vue"></script>
    
</head>
<body>
    <div class="wrapper">
        <h1>Practice with <em>vue.JS</em></h1>
        <h2>Please enter item information for list below</h2>
        
        <div id="todoList">
            <form v-on:submit.prevent="addItem">
                <input v-model="name" type="text" placeholder="Item Name" name="name">
                <input v-model="description" type="text" placeholder="Item Description" name="description">
                <input type="submit" value="Add Item to List">
            </form>

            <h3>Incomplete</h3>
            <ul v-for="item in itemsList">
                <li>{{item.name}} - {{item.description}} <button v-on:click="changeStatus()">Mark Complete</button><button v-on:click="removeItem(item.id)">Delete Item</button></li>
            </ul>

            <h3>Complete</h3>
            <ul v-for="item in itemsList">
                <li>{{item.name}} - {{item.description}} <button v-on:click="changeStatus">Mark Complete</button><button v-on:click="removeItem(item.id)">Delete Item</button></li>
            </ul>
        </div>

    </div>
</div>
<script type="text/javascript" src="vueJS.js"></script>    
</body>
</html>