<div>
  <h2 *ngIf="currentUser">Welcome {{ currentUser.username }}</h2>
</div>
<div>
  <h4 style="text-align: right"><a [routerLink]="['/logout']">Logout</a></h4>
</div>
<div>
  <h4 style="text-align: center"><a [routerLink]="['/dashboard', 'bids']">Bid</a></h4>
</div>
<div>
  <h4 style="text-align: center"><a [routerLink]="['/dashboard', 'results']">Results</a></h4>
</div>
<router-outlet></router-outlet>
<router-outlet name="bids"></router-outlet>
<router-outlet name="results"></router-outlet>
