<div style="text-align: center; display: block; margin: 20px; padding: 20px;">
  <h2 style="display: inline; background: rgba(0,0,0,.2); border-radius: 10px; margin: 20px; padding: 20px;">Manage Players</h2>
  <h2 style="display: inline; background: rgba(0,0,0,.2); border-radius: 10px; margin: 20px; padding: 20px;">Manage Player Status</h2>
</div>
<div style="text-align: center; display: block; margin: 20px; padding: 20px;">
  <h3 style="display: inline; background: rgba(0,0,0,.2); border-radius: 10px; margin: 20px; padding: 20px;">List</h3>
  <h3 style="display: inline; background: rgba(0,0,0,.2); border-radius: 10px; margin: 20px; padding: 20px;">Add Player</h3>
</div>
<div>
  <table>
    <thead>
      <tr>
        <td style="margin: 20px; padding: 20px;">User Name</td>
        <td style="margin: 20px; padding: 20px;">Preferred Position</td>
        <td style="margin: 20px; padding: 20px;">Actions</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="margin: 20px; padding: 20px;"><a [routerLink]="['/users/:id']"></a></td>
        <td style="margin: 20px; padding: 20px;"></td>
        <td style="margin: 20px; padding: 20px;"></td>
      </tr>
    </tbody>
  </table>
</div>
<div>
  <app-new-user></app-new-user>
</div>
<router-outlet></router-outlet>
