<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
  <h1>Index Page!</h1>
  <a href="/cats/new">Create new cat</a>
  <!-- Display all cats -->
  <% for (idx in cats) { %>
    <p>Name: <a href="/cats/<%= cats[idx]._id %>"><%= cats[idx].name %></a>
      <a href="/cats/<%= cats[idx]._id %>/edit/">Edit cat</a>
      <form action="/cats/<%= cats[idx]._id %>/delete/" method='post'>
        <input type="submit" value="Delete">
      </form>
    </p>
  <% } %>
</body>
</html>
