<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
  <h1>Show!</h1>
  <h3>Name: <%= cat.name %></h3>
  <h3>Weight: <%= cat.weight %></h3>
  <h4>Color: <%= cat.color %></h4>
  <a href="/">Home</a>
  <a href="/cats/<%= cat._id %>/edit">Edit</a>
</body>
</html>
